body {
	margin: 0;
	padding: 0;
	border:0;
	border:0;
	font-family: 'Raleway', sans-serif;
}
/* logo */
.logo-paty {
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
}
/* menú */
.nav-portafolio {
	background-color: #0e373d;
}
/* hero */
.hero-section {
	text-align: right;
	background-image: url('../img/bg_hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10rem 3.125rem;
	background-position:center;
}
h1 {
	font-weight: 200;
	font-size: 3.5rem;
}
h2 {
		font-weight: 300;
		font-size: 1.5em;
}
h3 {
	font-weight: 500;
	font-size: 1.5em;
	line-height: 1.5em;
}
.linea {
	width: 7em;
	border: 2px solid #97e7e8;
}
.txt-especial {
	font-family: 'Pacifico', cursive;
}
.titulo {
	font-weight: 300;
	font-size: 3em;
}
.img-logo {
	width: 10em;
}
.trabajos {
	background-color: #268290;
}
@media only screen and (max-width:900px) {
  .hero-section {
		background-position: bottom right;
		width: 100%;
		padding: 7rem 3.125rem;
	}
}
